body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #ffcc00;
}

/* ALBUM ẢNH */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card p {
    padding: 10px;
}

/* NHẠC */
.music {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.music-card {
    background: #222;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-align: center;
}

.music-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.music-card p {
    padding: 10px;
    font-weight: bold;
}

.music-card:hover,
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
